In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("restaurant_dataSet.csv")

In [3]:
df

,Unnamed: 0,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,0,Adarsh Nagar,28.614193,77.071541,Eagle Boys Pizza,28.615595,77.070784,Pizza Place
1,1,Adarsh Nagar,28.614193,77.071541,Bikanerwala,28.613391,77.076084,Indian Restaurant
2,2,Adarsh Nagar,28.614193,77.071541,Bikano East Patel Nagar,28.616190,77.066978,Fast Food Restaurant
3,3,Adarsh Nagar,28.614193,77.071541,McDonald's,28.616330,77.067034,Fast Food Restaurant
4,4,Ashok Vihar,28.699453,77.184826,Nat Khat Caterers,28.699630,77.187832,Indian Restaurant
...,...,...,...,...,...,...,...,...
844,844,Tilak Nagar,28.639650,77.094039,CCD tilak nagar,28.636264,77.097048,Café
845,845,Vikaspuri,28.638419,77.070836,Domino's Pizza,28.638000,77.075000,Pizza Place
846,846,Vikaspuri,28.638419,77.070836,McDonald's,28.639752,77.075190,Fast Food Restaurant
847,847,Vikaspuri,28.638419,77.070836,Asian Garden,28.639661,77.074482,Indian Restaurant
848,848,Vikaspuri,28.638419,77.070836,Mela,28.635672,77.067237,Indian Restaurant

In [5]:
delhi = pd.read_csv("delhi_dataSet.csv")

In [6]:
delhi

     Unnamed: 0           Borough   Neighborhood   latitude  longitude
0             0  North West Delhi   Adarsh Nagar  28.614192  77.071541
1             1  North West Delhi    Ashok Vihar  28.699453  77.184826
2             2  North West Delhi        Azadpur  28.707657  77.175547
3             3  North West Delhi         Bawana  28.799660  77.032885
4             4  North West Delhi      Begum Pur        NaN        NaN
..          ...               ...            ...        ...        ...
180         180        West Delhi  Tihar Village        NaN        NaN
181         181        West Delhi    Tilak Nagar  28.639650  77.094039
182         182        West Delhi    Uttam Nagar        NaN        NaN
183         183        West Delhi    Vikas Nagar  28.644009  77.054470
184         184        West Delhi      Vikaspuri  28.638419  77.070836

[185 rows x 5 columns]